<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Modul-Dokumentationen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./_assets/favicon.png">
    <link rel="stylesheet" href="./_assets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i%7CRoboto+Mono:400,400i,700,700i&display=fallback">
</head>
<body>

<header class="md-header md-header--shadow md-header--lifted">
    <nav class="md-header__inner md-grid">
        <a href="https://docs.oxidmodule.com/" class="md-header__button md-logo" data-md-component="logo">
            <img src="./_assets/logo.svg" alt="logo">
        </a>
        <div class="md-header__title">
            Modul-Dokumentationen
        </div>
    </nav>
</header>

<main class="md-main">
    <div class="container">

        <h1>Verfügbare Module</h1>
        <p class="md-intro">
            Die Module können Sie in unserem <a href="https://www.oxidmodule.com/">Shop</a> erwerben.
        </p>

        <div class="module-grid">
        {% for plugin in plugins %}
            <div class="module-card">
                <h2 class="module-title">{{ plugin.name }}</h2>

                <div class="module-meta">
                    <div><strong>neueste Version:</strong> {{ plugin.latest }}</div>
                    {% if plugin.updatedAt is not null %}
                        <div><strong>Aktualisiert am:</strong> {{ plugin.updatedAt|date('Y-m-d') }}</div>
                    {% endif %}
                </div>

                <div class="module-actions">
                    <a class="md-button md-button--primary"
                       href="./{{ plugin.slug }}/latest/"
                       title="Weiterleitung zur aktuellsten Version">
                        aktuelle Version
                    </a>

                    <a class="md-button md-button--secondary"
                       href="./{{ plugin.slug }}/">
                        alle Versionen
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
</main>

<footer class="md-footer">
    <div class="container">
        Copyright &copy; {{ generatedAt|date('Y') }} D3 Data Development - Inh. Thomas Dartsch &bull; Stand: {{ generatedAt|date('Y-m-d') }} &bull; <a href="https://www.d3data.de/Impressum-Datenschutz/">Impressum</a>
    </div>
</footer>

</body>
</html>
